---
import MainLayout from "../layouts/MainLayout.astro";

// const isAuthenticated = true;

// if (!isAuthenticated) return Astro.redirect("/login");

// const cookie = Astro.request.headers;
---

<MainLayout>
  <div class="mb-5 text-center">
    <h1 class="display-4">Folha de Alphaville</h1>
    <span>Escolha o sistema que deseja acessar.</span>
  </div>
</MainLayout>
